<?xml version="1.0" encoding="utf-8"?>
<!--
/** Copyright 2012, 2013 Kevin Hausmann
 *
 * This file is part of PodCatcher Deluxe.
 *
 * PodCatcher Deluxe is free software: you can redistribute it 
 * and/or modify it under the terms of the GNU General Public License as 
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * PodCatcher Deluxe is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with PodCatcher Deluxe. If not, see <http://www.gnu.org/licenses/>.
 */
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.alliknow.podcatcher"
    android:versionCode="61"
    android:versionName="4.1.4">
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:name="Podcatcher"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity android:name=".PodcastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FullscreenVideoActivity" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity android:name=".ShowEpisodeListActivity" />
        <activity android:name=".ShowEpisodeActivity" />
        <activity 
            android:name=".ImportPodcastActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="itpc" />
                <data android:scheme="pcast" />
                <data android:scheme="feed" />
                <data android:scheme="rss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:host="*"/>
                <data android:pathPattern=".*xml.*" />
                <data android:pathPattern=".*XML.*" />
                <data android:pathPattern=".*rss.*" />
                <data android:pathPattern=".*RSS.*" />
                <data android:pathPattern=".*feed.*" />
                <data android:pathPattern=".*cast.*" />
                <data android:pathPattern=".*podcast.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:host="feeds.feedburner.com" />
                <data android:host="feedproxy.google.com" />
                <data android:host="feeds2.feedburner.com" />
                <data android:host="feedsproxy.google.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"/>
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="application/atom+xml" />
                <data android:mimeType="application/xml" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".FirstRunActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".AddPodcastActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".AddSuggestionActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".RemovePodcastActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".ImportOpmlActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ExportOpmlActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".SelectFileActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <service
            android:name=".services.PlayEpisodeService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.podcatcher.deluxe.video.action.TOGGLE" />
                <action android:name="com.podcatcher.deluxe.video.action.PLAY" />
                <action android:name="com.podcatcher.deluxe.video.action.PAUSE" />
                <action android:name="com.podcatcher.deluxe.video.action.PREVIOUS" />
                <action android:name="com.podcatcher.deluxe.video.action.SKIP" />
                <action android:name="com.podcatcher.deluxe.video.action.REWIND" />
                <action android:name="com.podcatcher.deluxe.video.action.FORWARD" />
                <action android:name="com.podcatcher.deluxe.video.action.STOP" />
            </intent-filter>
        </service>
        <receiver 
            android:name=".services.MediaButtonReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver 
            android:name=".services.BecomingNoisyReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
